<a href="https://colab.research.google.com/github/uirom/myRepo/blob/main/DecisionTreeClassification_titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

df = pd.read_csv('/content/titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
from sklearn.metrics import f1_score, roc_auc_score

In [ ]:
def get_scores(X_train, X_test, y_train, y_test):
  A = model1.score(X_train, y_train)
  B = model1.score(X_test, y_test)
  y_pred = model1.predict(X_test)
  C = f1_score(y_test, y_pred)
  y_proba = model1.predict_proba(X_test)[:,1]
  D = roc_auc_score(y_test, y_proba)
  return f'accuracy: {A:.4f}  {B:.4f}     f1_score:{C:.4f}     roc_auc_score : {D:.4f}'

In [ ]:
agemean = df['Age'].mean()
df['Age'] = df['Age'].fillna(agemean)
df = df.drop(columns=['Cabin'])
# Age = 177(mean), Cabin = 687, Embarked = 2

In [ ]:
embarkedmode = df['Embarked'].mode()[0]
df['Embarked'] = df['Embarked'].fillna(embarkedmode)

In [ ]:
# dfx = pd.get_dummies(df) #(891, 1584) 열이 너무 많이 생기는게 싫어서 레이블 인코딩 사용할것
# Name, Sex, Ticket, Embarked = LabelEncoding
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['Name'] = le.fit_transform(df['Name'])
df['Sex'] = le.fit_transform(df['Sex'])
df['Ticket'] = le.fit_transform(df['Ticket'])
df['Embarked'] = le.fit_transform(df['Embarked'])
df['Family'] = df['SibSp']+df['Parch']
df = df.drop(columns=['SibSp','Parch'])

In [ ]:
y = df[['Survived']]
X = df.drop(columns=['Survived'])

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1030)

In [ ]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(712, 9)
(179, 9)
(712, 1)
(179, 1)

In [ ]:
from sklearn.tree import DecisionTreeClassifier

model1 = DecisionTreeClassifier(max_depth=3, random_state=1030)
model1.fit(X_train, y_train)
print(model1.get_depth())
print(get_scores(X_train, X_test, y_train, y_test))

3
accuracy: 0.8287  0.8268     f1_score:0.7207     roc_auc_score : 0.8689

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive